body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: crimson;
}

h1, h2 {
	color: black;
	text-decoration: underline;
}

.family {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.buttons{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.favBtn {
	background-color: yellow;
	border-color: yellow;
	width: 30%;
}

.single-res-pic, .single-park-pic {
	max-height: 130px;
	width: 200px;
}

.neighborhoodSections {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 3vh;
}

.single-res, .single-park {
	margin: 3vh 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-Roy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-Roy > h3 {
	text-decoration: underline;
	color: ;
}

.single-park > p{
	font-size: small;
}

.res-picker {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

#resBtn{
	width: 50%;
}

content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}